/*******************************/
/* Variables for easier access */
/*******************************/
:root {
    --bg_normal: #401629;
    --text_normal: #FFD6E0;
    --text_inactive: #9f6b78;
}



/************************/
/* Actual styling stuff */
/************************/

body {
  background-color: var(--bg_normal);
  color: var(--text_normal);
  text-align: center;
  font-family: hack;
}

.title-part {
  border-style: double;
  border-color: var(--text_normal);
  border-width: 2px;
  color: var(--text_normal);
  text-align: center;
  font-family: hack;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 450px;
  justify-content: center;
}

.address-box input{
  all: unset;
  /* background-color: var(--bg_normal); */
  color: var(--text_inactive);
  border: 2px solid var(--text_inactive);
  box-sizing: border-box;
  padding: 12px 15px;
}

.address-box input::placeholder{
  background-color: var(--bg_normal);
  color: var(--text_inactive);
  border-color: var(--text_normal);
}


.address-box input:hover,
.address-box input:focus{
  background-color: var(--bg_normal);
  color: var(--text_normal);
  border-color: var(--text_normal);
  transition: 0.2s ease; 
  transition-property: var(--text_normal);
}

/*.goButton {
  all: unset
  box-sizing: border-box
  background-color: var(var(--bg_normal));
  color: var(--bg_normal);
  border: 2px solid var(--text_inactive);
  box-sizing: border-box;
  padding: 6px;
  cursor: pointer;
}*/
.goButton{
  background-color: var(--bg_normal);
  border: none;
  color: var(--text_normal);
  text-align: center;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  border: 2px solid var(--text_inactive);
  box-sizing: border-box;
  padding: 12px 10px;
  font-family: Hack;
  transition: 0.2s ease; 
  transition-property: var(--text_inactive);
}
.goButton:hover,
.goButton:focus {
  border-color: var(--text_normal);
    transition: 0.2s ease; 
  transition-property: var(--text_normal);
}

.address-box input,
.address-box button {
  font-size: 14px;
  line-height: 1.2;
  box-sizing: border-box;

}


.address-box {
  border: 2px solid var(--text_inactive);
  box-sizing: content-box;
  margin: auto;
  padding: 5px;
  max-width: 440px;
  transition: 0.2s ease; 
  transition-property: var(--text_inactive);
}
.address-box:hover,
.address-box:has(input:focus),
.address-box:has(.goButton:focus) {
    border: 2px solid var(--text_normal);
      transition: 0.2s ease; 
  transition-property: var(--text_normal);
}

.secretText {
  color: var(--bg_normal);
  width: fit-content;
}

.secretText:hover {
  color: var(--text_normal);
}

/*.cool-text-nf1 {
  content: "I really <i class="nf nf-fa-heart"></i> <i class="nf nf-custom-vim"></i>";
}*/
